# Application
NODE_ENV=development
APP_NAME="Gestão de Projetos Web"

# API
API_PORT=3001
API_URL="http://localhost:3001"

# Web
WEB_PORT=3000
WEB_URL="http://localhost:3000"

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gestao_projetos_db?schema=public"

# Auth
JWT_ACCESS_SECRET="change-me-access-secret"
JWT_REFRESH_SECRET="change-me-refresh-secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
DEFAULT_TENANT_SLUG="interno"
AUTH_ALLOWED_EMAIL_DOMAIN="colsan.org.br"

# Uploads
UPLOAD_DRIVER="local"
UPLOAD_DIR="./storage/uploads"

# Email
MAIL_DRIVER="smtp"
SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="noreply@seudominio.com.br"
